#goods {
  background-color: lightgreen; }

#cart {
  background-color: khaki; }

.sliderImage {
  width: 300px;
  height: 300px; }

#goods {
  background-color: lightgreen; }

#cart {
  background-color: khaki; }

.sliderImage {
  width: 300px;
  height: 300px; }

#goods {
  background-color: lightgreen; }

#cart {
  background-color: khaki; }

.sliderImage {
  width: 300px;
  height: 300px; }

#goods {
  background-color: lightgreen; }

#cart {
  background-color: khaki; }

.sliderImage {
  width: 300px;
  height: 300px; }

#goods {
  background-color: lightgreen; }

#cart {
  background-color: khaki; }

.sliderImage {
  width: 300px;
  height: 300px; }

#goods {
  background-color: lightgreen; }

#cart {
  background-color: khaki; }

.sliderImage {
  width: 300px;
  height: 300px; }

#goods {
  background-color: lightgreen; }

#cart {
  background-color: khaki; }

.sliderImage {
  width: 300px;
  height: 300px; }

#goods {
  background-color: lightgreen; }

#cart {
  background-color: khaki; }

.sliderImage {
  width: 300px;
  height: 300px; }
